name: Snowflake Schema Validation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  validate-schema:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install snowflake-connector-python
          pip install -r requirements.txt

      - name: Run schema-wide view validation
        env:
          SNOWFLAKE_USER: ANANDASNOWFLKE
          SNOWFLAKE_PASSWORD: Sai25081981ramg_
          SNOWFLAKE_ACCOUNT: ILJSWJN-NEB94925.snowflakecomputing.com
          SNOWFLAKE_ROLE: ACCOUNTADMIN
          SNOWFLAKE_WAREHOUSE: COMPUTE_WH
          SNOWFLAKE_DATABASE: INTL_DB
        run: python scripts/validate_views.py